<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.vessel.mapper.ProcessingProgressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="processingProgressResultMap" type="org.springblade.vessel.entity.ProcessingProgress">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="ship_no" property="shipNo"/>
        <result column="ship_name" property="shipName"/>
        <result column="delivery_date" property="deliveryDate"/>
        <result column="policy_no" property="policyNo"/>
        <result column="subject" property="subject"/>
        <result column="classification" property="classification"/>
        <result column="responsibility" property="responsibility"/>
        <result column="description" property="description"/>
        <result column="policy_date" property="policyDate"/>
        <result column="completion_date" property="completionDate"/>
        <result column="updated_date" property="updatedDate"/>
        <result column="policy_requirements" property="policyRequirements"/>
        <result column="processing_progress" property="processingProgress"/>
        <result column="cost" property="cost"/>
        <result column="ship_description" property="shipDescription"/>
        <result column="shipowner_name" property="shipownerName"/>
        <result column="maintenance_parts" property="maintenanceParts"/>
        <result column="manufactor" property="manufactor"/>
        <result column="damage_cause" property="damageCause"/>
        <result column="labormaterial_require" property="labormaterialRequire"/>
        <result column="placedate_situation" property="placedateSituation"/>
        <result column="equipment_location" property="equipmentLocation"/>
        <result column="serial_no" property="serialNo"/>
        <result column="master" property="master"/>
        <result column="master_signature" property="masterSignature"/>
        <result column="chief_engineer" property="chiefEngineer"/>
        <result column="chief_engineer_signature" property="chiefEngineerSignature"/>
        <result column="guarantee_engineer" property="guaranteeEngineer"/>
        <result column="guarantee_engineer_signature" property="guaranteeEngineerSignature"/>
        <result column="service_director" property="serviceDirector"/>
        <result column="remarks" property="remarks"/>
        <result column="picture_attachment" property="pictureAttachment"/>
        <result column="major" property="major"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <select id="selectProcessingProgressPage" resultMap="processingProgressResultMap">
        select * from policy_processing_progress where is_deleted = 0
    </select>

</mapper>
